@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Assistant", sans-serif;
    scroll-behavior: smooth;
}


img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}




.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}



.top-btn {
    position: fixed;
    bottom: 1em;
    right: 1em;
    background: #000;
    padding: 0.5em 1em;
    color: white;
    font-size: 1.3rem;
    visibility: hidden;
}

.show-top-btn {
    visibility: visible;
    z-index: 100;
}



/* ************* index.html **********  */



/* sliding text  */
/* .whatsapp-link  */

.group {
    position: relative;
    height: 40px;
    overflow: hidden;
    color: white;
    background: black;
}

.group .text {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    padding: 0;
    width: max-content;
    animation: my-animation 24s linear infinite;
    font-size: 0.8rem;
    font-weight: weight;
}


.whatsapp-link {
    background: black;
    color: white;
    text-align: center;
    padding: 10px 1em;
    font-size: 0.9rem;
}


















/* navbar  */


.logo {
    max-width: 80px;
}



.links {
    position: fixed;
    top: 180px;
    left: 0;
    display: flex;
    flex-direction: column;
    background: #000;
    color: white;
    width: 100%;
    height: 100%;
    padding: 1.5em;
    padding-top: 2em;
    display: none;
    z-index: 10;

}

.links a {
    color: white;
    margin-bottom: 1em;
    font-size: 1.5rem;
}

.show-links {
    display: flex;
}

@media all and (min-width: 425px) {
    .links {top: 160px;}
}

.nav-div {
    width: 100%; 
    background: whitesmoke;
    position: sticky;
    top: 0px;
    z-index: 10;
    margin-top: 0;
}

nav {
    display: flex;  
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    padding: 1em;
}

i {
    color: black;
    font-size: 1.2rem;
}

.nav-toggle {
    margin-right: 3.5em;
}

.icons {
    display: flex; 
    align-items: center;
    gap: 2em;
}

@media all and (min-width: 1000px) {
    .nav-toggle {
        display: none;
    }

    .links {
        position: relative;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        background: whitesmoke;
        gap: 1em;
        font-size: 0.8rem;
        height: auto;
        align-items: center;
        padding: 0;
    }

    .links a {
        margin: 0;
        font-size: 0.9rem;
    }

    .links-container {
        display: flex;
        gap: 3em;
        width: 100%;
        align-items: center;
    }


    .links a {
        color: #777;
    }

    .links a:hover {
        color: #111;
        border-bottom: 1px solid #111;
    }

}




















/* swiper  */

.swiper-main {
    max-height: 100vh;
}



















/* best seller , new arrival */


.product-h1 {
    text-align: center;
    margin: 1em 0;
}


.best-seller {
    margin-bottom: 7em;
}

.best-seller, .new-arrival {
    width: 100%;
    text-align: center;
}

.product-img {
    width: 300px;
    overflow: hidden;
}

.product-img img {
    transition: all 0.2s;
}

.product-img:hover img {
    transform: scale(1.3);
}


.product-container {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(auto , 300px));
    justify-content: center;
    gap: 5px;
    margin-bottom: 3em;
}

.product {
    position: relative;
    margin: 0 auto;
    margin-bottom: 3em;
}

.tag {
    position: absolute;
    top: 10px;
    left: 10px;
    color: rgb(255, 118, 38);
    font-weight: 500;
    border: 1px solid #999;
    border-radius: 30px;
    padding: 0.1em 0.5em;
}


.name {
    margin: 1em 0;
}

.price {
    display: flex;
    justify-content: center;
    gap: 2em;
}


.dark-btn {
    background: #000;
    color: white;
    border: none;
    padding: 0.5em 1em;
    font-size: 1rem;
    margin: 3em 0;
}



.new-arrival {
    margin-bottom: 5em;
}





















/* .small cards  */

.card-img {
    width: 50px;
}

.card p {
    font-size: 1.2rem;
}

.card {
    display: flex;
width: 200px;
    gap: 10px;
    margin: 1em auto;
}

.card-con {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}


.small-cards {
    margin-bottom: 4em;
}




















/* handcrafted  */

.handcrafted {
    background: #ccc;
    padding: 3px 0;
    text-align: center;
}






















/* .info  */


.info .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 250px));
    margin: 0 auto;
    padding: 1em;
}


.info {
    background: #111;
    padding: 3em 0;
    color: white;
}



.info h2 {
    font-size: 1.2rem;
    margin-bottom: 1em;
    font-weight: 500;
}


.info a {
    color: #fff;
    opacity: 0.6;
}


.info a:hover {
    text-decoration: underline;
}
.info ul {
    list-style: none;
}


.info i {
    color: #fff;
}

.info h4 {
    margin-bottom: 1em;
}

.info ul li {
    margin-bottom: 1em;
}

.connect-icons {
    display: flex;
    gap: 1em;
    margin-bottom: 1em;
}

.payment-icons {
    display: flex;
    gap: 1em;
}

.payment-icons div {
    width: 40px;
}

.info .col4 {
    margin-bottom: 2em;
}



















/* footer  */


footer {
    padding: 3em 1em;
    padding-top: 0;
    background: #111;
}

footer p {
    color: #fff;
    opacity: 0.6;
    font-size: 0.8rem ;
}






















/* ************************* plain page, geek page ********************  */

.plain-h1, .geek-h1, .graphic-h1 {
    margin: 2em 0;
    font-size: 2.5rem;
    font-weight: 500;
}

.plain-tshirt .tag, .geek .tag, .graphic .tag, .more .tag {
    position: absolute;
    left: 20px;
    top: 380px;
    background: #111; 
    color: white;
}

.geek .pagination, .graphic .pagination {
    text-align: center;
    font-size: 1.2rem;
    margin: 2em;
}


.pagination a {
    margin: 1em;
    color: black;
}

.active-link {
    border-bottom: 1px solid black;
}

.active-link-white {
    text-decoration: underline;
}
























/* *************** single page ***************  */

.single-product .small-container {
    width: 100%;
    margin: 0 auto;
}

.more-h2 {
    margin: 2em 1em;
    font-weight: 500;
}


.single-product {
    padding: 1em 0;
    background: rgb(41, 41, 53);
    color: white;
}

.single-product .single-product-img {
    margin-bottom: 4em;
}

.single-product .small {
    font-size: 0.8rem;
    color: #ccc;
}


.single-product h1 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1em;
}

.single-product s {
    color: #ccc;
}


.single-product .sp-price-div {
    display: flex;
    gap: 1em;
    align-items: center;
    margin-bottom: 3em;
}

.single-product .sp-tag {
    color: white;
    background: black;
    padding: 5px 10px;
    border-radius: 20px;
}

.single-product .ccc {
    color: #ccc;
}

.single-product .just-text {
    margin-bottom: 4em;
}


.single-product .heading {
    margin-bottom: 1em;
    display: inline-block;
}


.single-product .button-content {
    display: flex;
    flex-direction: column;
}


.single-product button {
    font-size: 1rem;
    width: fit-content;
    padding: 8px 16px;
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 20px;
    color: white;
    margin-bottom: 1em;
    cursor: pointer;
}




.single-product .btn-white {
    color: black;    
    background: white;
}


.single-product .btn-con {
    display: flex; 
    gap: 10px;
}

.single-product input {
    background-color: transparent;
    border: none;
    color: white; 
    outline: none; 
    font-size: 1.1rem;
    width: 40px;
    margin: 0 10px;
    margin-left: 30px;
}

.single-product .minus, .single-product .plus {
    color: white;
    background: transparent;
    border: none;
}

.single-product i {
    color: white;
    font-size: 0.9rem;
}

.single-product .cart-buy {
    display: block;
    width: 100%;
    border-radius: 0px;
}

.single-product  {
    padding-bottom: 2em;
}


@media all and (min-width: 550px) {
    .single-product-container {
        display: flex;
        align-items: center;
        gap: 3em;
    }
}